################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/CommandLineParser.1.9.71
/ConsoleApp1/bin/Debug
/ConsoleApp1/obj/Debug
